.winners-wrapper {
  margin: 1rem 3rem;
  max-width: 50rem;
}

.sort-wrapper {
  margin: 3rem;
}

.winner {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
  align-items: center;
  gap: 2rem;
}

.winner-text {
  font-weight: 700;
}
